#output-panels {
    display: grid;
    grid-template-columns: 50% 50%;
}

.dash-graph {
    height: 38vh;
}

#param-controls {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: center;
}

.param-control-widget {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.param-control-widget span {
    padding-right: 10px;
}

#time-slider {
    display: inline-block;
    width: 45%;
}
